.content {
  margin: 255px 0 100px;
}

.row {
  padding: 0 14%;
}

.title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  color: rgba(0, 0, 0, 0.44);
}

.content {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 560px) {
  .content {
    margin-top: 400px;
  }
}

.badge_wrapper {
  width: 100px;
}
