.site_card_border_less_wrapper {
    width: 72%;
    height: 215px;
    padding: 0 30px 0 30px;
    position: absolute;
    right: 14%;
    bottom: 20px;
    left: 14%;
    z-index: 11;
    top: 600px;
  }
  .card {
    border: 1px solid #ebb320;
    border-radius: 8px;
  }
  .radio {
    color: #ebb320;
  }
  .search_form {
    padding: 20px;
  }
  .input {
    border: none;
    border-bottom: 1px solid rgba(240, 173, 0, 0.7);
    color: rgba(240, 173, 0, 0.7);
  }
  