.header {
  background: #ebb320;
  font-family: Nunito;
}
.logo {
  float: left;
  margin-top: 10px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;
  margin-right: 19.5%;
  margin-left: 10%;
}
ul {
  background: #ebb320 !important;
  color: #ffffff;
  border-bottom: 0px !important;
}
li:hover,
li:active {
  top: 0px !important;
  color: #ffffff !important;
}
.menu > li {
  color: #ffffff;
  background: #ebb320;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
@media (max-width: 720px) {
  .logo {
    margin-right: 9.5%;
    margin-left: 5%;
  }
}
